einops
matplotlib
opencv-python
pandas
plotly[express]
pydantic
requests
scipy
seaborn
streamlit
streamlit-image-comparison
tensorboard
tensorflow
torch==2.6.0
torchinfo
torchvision==0.21.0
tqdm
transformers
TriMesh
